.coverage
.eggs
.pytest_cache
.test_venv
.vscode
.idea
.venv
.tests-venv
.python-version
.cid
.cvol
.DS_Store
*~
*.pyc
*.egg-info
*.isorted
build
dist
_build
git_version.py
__pycache__
faider-build
pip-wheel-metadata
azkaban_templates/development_config.yaml
test_report.xml
.di-build-cache/
di-build-tools/
